html, body
{
	margin: 0;
	padding: 0;
}
#header 
{
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	background-image: url(H5TP8QWodh8.jpg)
}
footer 
{
	width: 100%;
	height: 155px;
	color: #FF0000;
	background-image: url(2131321651.jpg)
}
.nav
{
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}
